rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /bookings/{booking} {
      allow read, write: if true;  // Allow read/write access to bookings collection
    }
    
    match /{document=**} {
      allow read, write: if false;  // Keep other collections secure
    }
  }
}